#about {
    width: 75%;
    margin: 0 auto;
}

#aboutTopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about p {
    font-size: 20px;
}

#topimg {
    width: 50%;
    height: auto;
}

#verticalImg1 {
    width: 25%;
    height: auto;
    float: left;
    margin-right: 20px;
}

#verticalImg2 {
    width: 25%;
    height: auto;
    float: right;
    margin-right: 20px;
}

#testimonials {
    display: flex;
}