#about {
    width: 75%;
    margin: 0 auto;
    font-weight: 300;
}

#aboutTopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about p {
    font-size: 22px;
}

#topimg {
    width: 40%;
    height: auto;
}

#adambio {
    margin-bottom: 50px;
}

.headers {
    font-size: 50px;
    margin-bottom: 15px !important;
}

#adamheadshot {
    width: 30%;
    height: auto;
    float: left;
    margin-right: 20px;
}

.spacer {
    height: 30px;
}

#valerieheader {
    text-align: right;
}

#valerieheadshot {
    width: 30%;
    height: auto;
    float: right;
    margin-left: 20px;
}

#testimonialSection {
    margin-top: 300px;
}

#testimonialHeader {
    text-align: center;
}

#testimonials {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.testimonialCard {
    width: 33%;
}

.testimonialSig {
    text-align: right;
    margin-top: 40px;
}

#middleTestimonial {
    margin: 0 40px;
}

@media screen and (max-width: 1700px) {
    #topimg {
        width: 60%;
    }

    #adamheadshot {
        width: 40%;
    }

    #valerieheadshot {
        width: 40%;
    }

    #testimonialSection {
        margin-top: 100px;
    }
}

@media screen and (max-width: 900px) {
    #adamheadshot {
        width: 50%;
    }

    #valerieheadshot {
        width: 50%;
    }

    #testimonials {
        flex-direction: column;
    }

    .testimonialCard {
        width: 100%;
    }

    #middleTestimonial {
        margin: 0 0;
    }
}

@media screen and (max-width: 500px) {
    #topimg {
        width: 100%;
    }

    #adamheadshot {
        width: 100%;
        margin-bottom: 15px;
    }

    #valerieheadshot {
        width: 100%;
        margin-bottom: 15px;
    }
}