.carousel-wrapper {
   width: 65%;
   margin-left: auto;
   margin-right: auto;
}

@media screen and (max-width: 1300px) {
    .carousel-wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .carousel-wrapper {
        width: 85%;
    }
}