.textDivs {
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.homeText {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.learnMore {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 125px;
    text-align: center;
    text-decoration: none;
}

.learnMore:hover {
    background-color: rgb(58, 58, 58);
    cursor: pointer;
}

#photoTypes {
    width: 65%;
    margin: 45px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services {
    width: 30%;
    /* height: 400px; */
    aspect-ratio: auto 3 / 2;
    position: relative;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(58, 58, 58, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 45px;
    opacity: 0;
    transition: 0.3s ease;
}

#headshots {
    background-image: url(../../img/home/headshots.jpg);
    background-size: cover;
    background-position: center;
}

#portraits {
    background-image: url(../../img/home/portraits.jpg);
    background-size: cover;
    background-position: center;
}

#weddings {
    background-image: url(../../img/home/weddings.jpg);
    background-size: cover;
    background-position: center;
}

#headshots:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

#portraits:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

#weddings:hover .overlay {
    opacity: 1;
    cursor: pointer;
}




@media screen and (max-width: 1300px) {
    .homeText {
        font-size: 25px;
    }
    .textDivs {
        width: 65%;
    }
}

@media screen and (max-width: 900px) {
    #photoTypes {
        width: 85%;
        flex-direction: column;
    }

    .services {
        width: 100%;
    }

    #portraits {
        margin-top: 45px;
    }

    .overlay {
        opacity: 1;
        font-size: 30px;
    }
}