#introDiv {
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

#weAre {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

#learnMore {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 125px;
    text-align: center;
    text-decoration: none;
}

#learnMore:hover {
    background-color: rgb(58, 58, 58);
    cursor: pointer;
}

#photoTypes {
    width: 65%;
    margin: 0 auto;
}

.services {
    background-color: red;
    width: 45%;
    height: 200px;
}




@media screen and (max-width: 1300px) {
    #introDiv {
        width: 65%;
    }
}