#contactForm {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#pleaseContact {
    font-size: 20px;
}

#nameInput {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

#firstNameInput {
    display: flex;
    flex-direction: column;
    width: 48%;
}

#lastNameInput {
    display: flex;
    flex-direction: column;
    width: 48%;
}

#email {
    margin-bottom: 20px;
}

#message {
    margin-bottom: 20px;
    height: 100px;
}

#contactSubmit {
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 16px;
}

#contactSubmit:hover {
    background-color: rgb(58, 58, 58);
    cursor: pointer;
}