#weddingsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#weddingSoon {
    font-size: 35px;
    text-align: center;
}

#ringsimg {
    width: 45%;
}

@media screen and (max-width: 800px) {
    #ringsimg {
        width: 85%;
    }
}