* {
  font-family: 'Josefin Sans', sans-serif;
}

#pageContent {
  margin-top: 35px;
  margin-bottom: 75px;
}

@media screen and (max-width: 1700px) {
  #pageContent {
    margin-top: 75px;
  }
}

/* Get rid of margin when page shrinks to 900px */

@media screen and (max-width: 900px) {
  #pageContent {
    margin-top: 0px;
  }
}